html,body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	width:100%;
}
/*------------- font family -------------*/

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf.eot') format('embedded-opentype'),
	   url('../fonts/Roboto-Black.ttf.woff')format('woff'), 
	   url('../fonts/Roboto-Black.ttf.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf.eot') format('embedded-opentype'),
	   url('../fonts/Roboto-Light.ttf.woff')format('woff'), 
	   url('../fonts/Roboto-Light.ttf.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
	   url('../fonts/Roboto-Regular.woff')format('woff'), 
	   url('../fonts/Roboto-Regular.svg') format('svg'),
	   url('../fonts/Roboto-Regular.ttf') format('truetypefont');
  font-weight: normal;
  font-style: normal;
}


.roboto-black {
	font-family: 'Roboto-Black'!important;
}
.roboto-light{
	font-family: 'Roboto-Light'!important;
}
.roboto-regular{
	font-family: 'Roboto-Regular'!important;
}
/*-------------- fontsizes --------------*/
h1,h2,h3,h4,h5,h6,span,a,p{
	font-family: 'Roboto-Regular'!important;
}
h4{
	font-size:20px;
	line-height:26px!important;
}
h6{
	font-size:18px;
	line-height: 22px!important;
}
p{
	line-height:26px;
	font-size:16px;
	padding:6px 0;
}
.smallfont{
	font-size:13px;
}
.midfont{
	font-size:16px;
}
.bigfont{
	font-size:18px;
}
.largefont{
	font-size:26px;
}
/*-------------- textstyle --------------*/
.uppercase{
	text-transform:uppercase;
}
.underlined{
	text-decoration: underline;
}
/*-------------- alignment --------------*/
.center{
	text-align: center;
}
.center > img{
	margin:0 auto;
}
.leftalign{
	text-align: left;
}
.rightalign{
	text-align: right;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clearfix{
	clear:both;
}
.vertical-center{
	display:flex!important;
	flex-wrap:wrap;
	align-items:center;
}
/*-------------- textcolor --------------*/
.blacktext{
	color:#000!important;
}
.whitetext{
	color:#fff!important;
}
.greentext{
	color:#7DAFB7!important;
}
.greytext{
	color:#9B9B9B!important;
}
.greytext2{
	color:#F3F3F3!important;
}
.yellowtext{
	color:#F8E71C!important;
}
/*-------------- color --------------*/
.grey-bg{
	background:#F9F9F9!important;
}
.green-bg{
	background:#7DAFB7!important;
}
.white-bg{
	background:#fff;
}

.nopadding{
  padding:0;
}
.smalltoppadding{
  padding-top:10px;
}
.midtoppadding{
  padding-top:25px;
}
.bigtoppadding{
  padding-top:50px;
}
.toppadding80{
  padding-top:80px;
}
.largetoppadding{
  padding-top:100px;
}
.smallbottompadding{
  padding-bottom:10px;
}
.midbottompadding{
  padding-bottom:25px;
}
.bigbottompadding{
  padding-bottom:50px;
}
.largebottompadding{
  padding-bottom:100px;
}
.smallpadding{
  padding-top:10px;
  padding-bottom:10px;
}
.midpadding{
  padding-top:25px;
  padding-bottom:25px;
}
.bigpadding{
  padding-top:50px;
  padding-bottom:50px;
}
.largepadding{
  padding-top:100px;
  padding-bottom:100px;
}
.smallsidepadding{
  padding-left:10px;
  padding-right:10px;
}
.midsidepadding{
  padding-left:25px;
  padding-right:25px;
}
.bigsidepadding{
  padding-left:50px;
  padding-right:50px;
}
.largesidepadding{
  padding-left:100px;
  padding-right:100px;
}
.smallrightpadding{
	padding-right:10px;
}
.bigrightpadding{
	padding-right:50px;
}
.nomargin{
  margin:0;
}
.smalltopmargin{
  margin-top:10px;
}
.midtopmargin{
  margin-top:25px;
}
.bigtopmargin{
  margin-top:50px;
}
.topmargin80{
  margin-top:80px;
}
.largetopmargin{
  margin-top:100px;
}
.smallbottommargin{
  margin-bottom:10px;
}
.midbottommargin{
  margin-bottom:25px;
}
.bigbottommargin{
  margin-bottom:50px;
}
.largebottommargin{
  margin-bottom:100px;
}
.smallmargin{
  margin-top:10px;
  margin-bottom:10px;
}
.midmargin{
  margin-top:25px;
  margin-bottom:25px;
}
.bigmargin{
  margin-top:50px;
  margin-bottom:50px;
}
.largemargin{
  margin-top:100px;
  margin-bottom:100px;
}


.green-btn{
	padding:8px 20px;
	background:#678F95!important;
	color:white!important;
	border:none!important;
}
input[type="text"]{
	background:#CDDFE2!important;
	padding:8px 20px;
	border:none!important;
}
ul.list-none{
	padding:0!important;
	margin:0!important;
	list-style:none;
}
/*------------------HOME PAGE---------------------*/
header{
	height:130px;
	position:fixed!important;
    width: 100%;
    z-index: 100;
	background:#71ADB5;
	-webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
#logo{
	height:50px;
}
.top-nav{
	height:80px;
}
.top-nav ul li {
	display:inline;
	padding:10px;
}
/*---------------- MENU ------------------*/
#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu-button {
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-button {
  display: none;
}
#menu {
  height:50px;
  z-index:100;
}
#menu > ul > li {
  float: left;
}
#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu.align-center ul ul {
  text-align: left;
}
#menu.align-right > ul > li {
  float: right;
}
#menu > ul > li > a {
  padding: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
  border-bottom:2px solid transparent;
}
#menu > ul > li:hover > a {
  color:black!important;
}
#menu > ul > li > a.active {
  color:black!important;
}
#menu > ul > li.has-sub > a {
  padding-right: 30px;
}

#menu ul ul {
  position: absolute;
	top:47;
  left: -9999px;
}
#menu.align-right ul ul {
  text-align: right;
}
#menu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu li:hover > ul {
  left: auto;
}
#menu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#menu li:hover > ul > li {
  height: 35px;
}
#menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#menu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 20px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #3a5a5f;
}
#menu ul ul li:last-child > a,
#menu ul ul li.last-item > a {
  border-bottom: 0;
}
#menu ul ul li:hover > a,
#menu ul ul li a:hover {
  color: #949494;
}
#menu ul ul li.has-sub > a:after {
  position: absolute;
  top: 24px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#menu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#menu ul ul li.has-sub > a:before {
  position: absolute;
  top: 21px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#menu ul ul > li.has-sub:hover > a:before {
  top: 25px;
  height: 0;
}


/*Main section*/

.carousel-caption {
	padding:40px;
    top: 20%!important;
    left: 10%!important;
    right: 0;
	bottom:auto;
    width: 400px;
    min-height: 100px;
    background: #00000096;
}
.news-card img{
	width:100%;
	object-fit: cover;
	height:150px;
}
.activity img{
	width:100%;
	object-fit: cover;
}
.welcome{
	position:relative;
}
.welcome-box{
	display: block;
    position: absolute;
    bottom: -25px;
    right: -25px;
    content: " ";
    width: 250px;
    border-radius: 25px;
    height: 50px;
    background: #70adb6;
}
.welcome-box img{
		height: 30px;
    padding: 0 30px;
}
.nav-tabs {
    width: 400px;
    margin: 0 auto;
    border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid grey;
}
.nav-tabs>li>a {
    border:none;
}
.nav-tabs>li>a:hover {
    border:none;
	background:none;
	border-bottom: 1px solid grey;
}

.nav>li>a:focus, .nav>li>a:hover {
    border:none;
	border-bottom: 1px solid grey;
}

@media (max-width:992px){
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		height: 500px;
	}
	.mobilehide {
		display:none;
	}
	#menu > ul > li > a {
	  padding: 5px;
	}
	#menu > ul > li:hover > a{
		border-bottom:none;
	}
	#menu {
    	width: 100%;
		position:absolute;
		height:auto;
		right:0;
		background:white;
		z-index:100;
		text-align: left;
  	}
  	#menu ul {
  	  width: 100%;
	  background:white;
	  padding:0 20px;
  	  display: none;
	  -webkit-animation: slide 0.5s forwards;
  	  -webkit-animation-delay: 2s;
  	  animation: slide 0.5s forwards;
  	  animation-delay: 2s;
  	}
  #menu.align-center > ul {
    text-align: left;
  }
  #menu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #menu ul ul li,
  #menu li:hover > ul > li {
    height: auto;
  }
  #menu ul li a,
  #menu ul ul li a {
    width: 100%;
    border-bottom: 0;
	  padding:17px;
	  color:black;
  }
  #menu > ul > li {
    float: none;
  }
  #menu ul ul li a {
    padding-left: 25px;
  }
  #menu ul ul ul li a {
    padding-left: 35px;
  }
  #menu ul ul li a {
    color: #565656;
    background: none;
  }
  #menu ul ul li:hover > a,
  #menu ul ul li.active > a {
    color: #000;
  }
  #menu ul ul,
  #menu ul ul ul,
  #menu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
	  padding:0;
    text-align: left;
  }
  #menu > ul > li.has-sub > a:after,
  #menu > ul > li.has-sub > a:before,
  #menu ul ul > li.has-sub > a:after,
  #menu ul ul > li.has-sub > a:before {
    display: none;
  }
  #menu-button {
    display: block;
    position: absolute;
    top: 13;
    right: 20;
    z-index: 2;
    padding: 17px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #menu-button:after {
	position: absolute;
    top: 12px;
    right: 17px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    content: '';
  }
  #menu-button:before {
    position: absolute;
    top: 6px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #000;
    content: '';
  }
  #menu-button.menu-opened:after {
    top: 12px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-button.menu-opened:before {
    top: 12px;
    background: #000;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #menu .submenu-button.submenu-opened {
    background: #71ADB5;
  }
  #menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #000;
    content: '';
  }
  #menu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    content: '';
  }
  #menu .submenu-button.submenu-opened:before {
    display: none;
  }
  #menu-button:after,#menu-button:before,#menu .submenu-button:after,#menu .submenu-button:before{
		-webkit-transition: all .25s ease;
	  -moz-transition: all .25s ease;
	  -ms-transition: all .25s ease;
	  -o-transition: all .25s ease;
	  transition: all .25s ease;
	}

}

@media (max-width:480px){

	.carousel-caption {
		left: 0!important;
		right: 0;
		bottom: auto;
		width: 100%;
	}
}